h1 {
  text-align: center;
}

.hidden {
  display: none;
}

.generated-canvas {
  display: block;
  margin: 12px auto;
  border: 1px solid #ddd;
  max-width: 100%;
}

.error-info {
  display: block;
  margin: 12px auto;
  border: 1px solid #ddd;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 12px;
  width: 640px;
  height: 480px;
  color: darkred;
  white-space: pre;
  overflow: auto;
}
