<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Gesso{% endblock %}</title>
  {% block style_overrides %}
    <link rel="stylesheet" href="/styles/_base.css" />
  {% endblock %}
  {% block styles %}{% endblock %}
</head>
<body>
  {% block page_container %}
    <div class="page">
      {% block page %}{% endblock %}
    </div>
  {% endblock %}

  {% block dialogs %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>
